<div class="alert <?php echo $class;?>">
	<?php echo $message; ?>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>