<ul class="pagination">
	<?php echo $this->Paginator->first('Primeira'); ?>
	<?php echo $this->Paginator->prev('Anterior'); ?>
</ul>
	<?php echo $this->Paginator->numbers(); ?>
<ul class="pagination">
	<?php echo $this->Paginator->next('Próxima'); ?>
	<?php echo $this->Paginator->last('Última'); ?>
</ul>