<div style="padding:5px;">
	<div class="box box-primary box-solid">
		<div class="box-header">
			<h3 class="box-title">Camadas</h3>
		</div>
		<div class="box-body">
			<div class="btn-group-vertical" style="padding:5px;">
				<button class="btn btn-default" ng-class="{'active':DS.camadas.estados}" ng-click="toggleCamada('estados')"><img src="/img/markers/localizacao.png"></button>
				<button class="btn btn-default" ng-class="{'active':DS.camadas.municipios}" ng-click="toggleCamada('municipios')"><img src="/img/markers/logo_ej_marker.png"></button>
				<button class="btn btn-default" ng-class="{'active':DS.camadas.ocorrencias}" ng-click="toggleCamada('ocorrencias')"><img src="/img/markers/localizacao.png"></button>
			</div>
		</div>
	</div>
</div>
