<div class="col-md-6" style="padding:5px;">
	
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">
				{{DS.selecteds.Localizacao.data.Programa.nome_oficial}}<br>
				<small>{{DS.selecteds.Localizacao.data.Programa.nome_divulgacao}}</small>
			</h3>
		</div>
		<div class="box-body">
			{{{{DS.selecteds.Localizacao.data}}
			<div class="row">
				<div class="col-md-6">
					<div class="box box-primary">
						<div class="box-body">{{DS.selecteds.Localizacao.data.Ocorrencia.inicio_inscricoes|date:'dd/MM/y'}} a {{DS.selecteds.Localizacao.data.Ocorrencia.fim_inscricoes|date:'dd/MM/y'}}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="box box-danger">
						<div class="box-body" ng-bind-html=""></div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<div class="box box-success">
						<div class="box-body" ng-bind-html="DS.selecteds.Localizacao.data.Ocorrencia.beneficios_locais"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="box box-warning">
						<div class="box-body" ng-bind-html="DS.selecteds.Localizacao.data.Ocorrencia.como_acessar"></div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="box-footer">
			<div class="btn-group pull-right">
				<button class="btn btn-primary" ng-click="hideLocalizacaoCtrl()">Fechar</button>
				<button class="btn btn-primary" ng-click="vejaMais()">Veja mais...</button>
			</div>
		</div>
	</div>
</div>
