<div class="col-md-2" style="padding:5px;">
	<div class="box box-primary box-solid">
		<div class="box-header">
			<h3 class="box-title">Temáticas</h3>
		</div>
		<table class="table" style="margin:0px;">
			<tr ng-repeat="item in tematicas">
				<td style="cursor: pointer; font-size: 14px;" ng-click="clickTematica(item)" ng-class="{'bg-info':isSelected(item)}">
					{{item.Tematica.nome}}
				</td>
			</tr>
		</table>
		<div class="box-footer clearfix">
			Ocorrências Municipais
			<span class="pull-right label label-primary">10</span>
		</div>
	</div></div>
