<style>
.angular-google-map-container { height: 500px; }
</style>
{{estado}}
<div class="box box-primary">
	<div class="box-header">
		<div class="btn-group">
			<button class="btn btn-primary" ng-click="visoes('nacional')">Nacional</button>
			<button class="btn btn-success" ng-disabled="!estado_id" ng-click="visoes('estadual')">Estadual</button>
			<button class="btn btn-warning" ng-disabled="!municipio_id" ng-click="visoes('municipal')">Municipal</button>
			<button class="btn btn-danger" ng-click="visoes('localizado')">Localizado</button>
		</div>
		<div class="btn-group pull-right">
			
			<form class="form-inline">
				<div class="form-group">
					<select ng-model="estado" ng-options="item as item.Estado.nome for item in estados" class="form-control">
						<option value="">Escolha o Estado</option>
					</select>
				</div>
				<div class="form-group">
					<select ng-model="municipio_id" ng-change="changeMunicipio(item)" ng-options="item.Municipio.id as item.Municipio.nome for item in municipios" class="form-control">
						<option value="">Escolha o Município</option>
					</select>
				</div>
				<div class="form-group">
					<select class="form-control" ng-model="ocorrencia_id" ng-options="item.Ocorrencia.id as item.Programa.nome_oficial for item in ocorrencias">
						<option value="">Todas as Ocorrências</option>
					</select>
				</div>
			</form>
		</div>
	</div>
	<div style="min-height: 500px;">
	<ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
		<ui-gmap-map-control
			template="/js/Pesquisas/controls/tematicas.html"
			position="TOP_RIGHT"
			controller="tematicasCtrl"
			index="1">
		</ui-gmap-map-control>
		
		<ui-gmap-map-control
			template="/js/Pesquisas/controls/camadas.html"
			position="TOP_RIGHT"
			controller="tematicasCtrl"
			index="2">
		</ui-gmap-map-control>
		<ui-gmap-map-control
			ng-if="false"
			template="/js/Pesquisas/controls/ocorrencias.html"
			position="CENTER"
			controller="tematicasCtrl"
			index="1">
		</ui-gmap-map-control>
		<ui-gmap-markers
			ng-if="camadas.estados"
			models="markers.estados"
			options="'options'"
			idKey="'key'"
			click="clickEstadoMarker"
			fit="false"
			coords="'coords'"
			zoom="'zoom'"
			icon="'icon'">
		</ui-gmap-markers>
		<ui-gmap-markers
			ng-if="camadas.estacoes"
			models="markers.municipios"
			options="'options'"
			idKey="'key'"
			click="clickMunicipioMarker"
			fit="false"
			coords="'coords'"
			zoom="'zoom'"
			icon="'icon'">
		</ui-gmap-markers>
		<ui-gmap-markers
			ng-if="camadas.localizacoes"
			models="markers.localizacoes"
			options="'options'"
			idKey="'key'"
			click="clickLocalizacaoMarker"
			fit="true"
			coords="'coords'"
			zoom="'zoom'"
			icon="'icon'">
		</ui-gmap-markers>
	</ui-gmap-google-map>
	</div>
</div>