<div class="row">
	<div class="col-md-3">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Temáticas</h3>
			</div>
			<ul class="list-group" style="height: 200px; overflow: auto;">
				<li ng-click="clickTematicaList(0)" ng-class="{'active':tematica_id==0}" class="list-group-item">Todas</li>
				<li ng-click="clickTematicaList(item.Tematica.id)" ng-class="{'active':tematica_id==item.Tematica.id}" class="list-group-item" ng-repeat="item in tematicas">{{item.Tematica.nome}}</li>
			</ul>
			<div class="box-footer">
				Selecionadas
			</div>
		</div>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-info">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Estados <span ng-if="selectedEstadoNome">({{selectedEstadoNome}})</span>
		        </a>
		      </h4>
		    </div>
		    <div style="height: 200px; overflow: auto;" id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				<ul ng-if="estados.length > 0" class="list-group">
					<li ng-click="clickEstadoList(0)" ng-class="{'active':estado_id===0}" class="list-group-item">Todos</li>
					<li ng-click="clickEstadoList(item)" ng-class="{'active':estado_id==item.Estado.id}" class="list-group-item" ng-repeat="item in estados">{{item.Estado.nome}}</li>
				</ul>
		    </div>
		  </div>
		  <div class="panel panel-success">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Municípios <span ng-if="selectedMunicipioNome">({{selectedMunicipioNome}})</span>
		        </a>
		      </h4>
		    </div>
		    <div style="height: 200px; overflow: auto;" id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		       <ul ng-if="municipios.length > 0" class="list-group">
					<li ng-click="clickMunicipioList(0)" ng-class="{'active':municipio_id===0}" class="list-group-item">Todos</li>
					<li ng-click="clickMunicipioList(item)" ng-class="{'active':municipio_id==item.Municipio.id}"  class="list-group-item" ng-repeat="item in municipios">{{item.Estado.sigla}} - {{item.Municipio.nome}}</li>
				</ul>
		    </div>
		  </div>
		  <div class="panel panel-warning">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          Ocorrências
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<ul ng-if="ocorrencias.length > 0"  class="list-group">
					<li ng-click="clickOcorrenciaList(item)" ng-class="{'active':ocorrencia_id==item.Ocorrencia.id}"  class="list-group-item" ng-repeat="item in ocorrencias">{{item.Programa.nome_divulgacao}}</li>
				</ul>
		    </div>
		  </div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary" ng-if="Ocorrencia">
					<div class="box-header with-border">
						<div class="box-title">{{Programa.nome_divulgacao}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="box box-primary" ng-if="Ocorrencia">
					<div class="box-header with-border">
						<div class="box-title">Programa</div>
					</div>
					<div class="box-body">
						<h4>
							<div>Descrição</div>
						</h4>
						<p ng-bind-html="Programa.descricao"></p>
						<h4>
							<div>Benefícios</div>
						</h4>
						<p ng-bind-html="Programa.beneficios"></p>
						<h4>
							<div>Critérios de Acesso</div>
						</h4>
						<p ng-bind-html="Programa.criterios_acesso"></p>
						<h4>
							<div>Objetivos</div>
						</h4>
						<p ng-bind-html="Programa.objetivos"></p>
						<h4>
							<div>Público Alvo</div>
						</h4>
						<p ng-bind-html="Programa.publico_alvo"></p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box box-warning" ng-if="Ocorrencia">
					<div class="box-header with-border">
						<div class="box-title">Ocorrência Municipal</div>
					</div>
					<div class="box-body">
						<h4>
							<div>Municipio - UF</div>
							<small ng-bind-html="Municipio.nome + ' - ' + Municipio.Estado.sigla"></small>
						</h4>
						<h4>
							<div>Benefícios Locais</div>
							<small ng-bind-html="Ocorrencia.beneficios_locais"></small>
						</h4>
						<h4>
							<div>Como Acessar</div>
							<smallng-bind-html="Ocorrencia.como_acessar"></small>
						</h4>
						<h4>
							<div>Início e Fim</div>
							<small ng-bind-html="Ocorrencia.inicio_inscricoes|date:'d/M/y'"></small>
							<small>&nbsp;a&nbsp;</small>
							<small ng-bind-html="Ocorrencia.fim_inscricoes|date:'d/M/y'"></small>
						</h4>
						<h4>
							<div>Quantidade de Vagas</div>
							<small ng-bind-html="Ocorrencia.qtd_vagas"></small>
						</h4>
					</div>
				</div>
				<div class="box box-danger" ng-if="Ocorrencia">
					<div class="box-header with-border">
						<div class="box-title">Localização</div>
					</div>
					<div class="box-body">
						<ul ng-if="localizacoes.length > 0"  class="list-group">
							<li ng-click="clickLocalizacaoList(item)" ng-class="{'active':localizacao_id==item.id}"  class="list-group-item" ng-repeat="item in localizacoes">{{item.local}}</li>
						</ul>
					
						<h4>
							<div>Local</div>
							<small ng-bind-html="Localizacao.local"></small>
						</h4>
						<h4>
							<div>Endereço</div>
							<small ng-bind-html="Localizacao.endereco"></small>
						</h4>
						<h4>
							<div>Horário de Funcionamento</div>
							<small ng-bind-html="Localizacao.horario_funcionamento"></small>
						</h4>
						<h4>
							<div>Quantidade de vagas</div>
							<small ng-bind-html="Localizacao.quantidade_vagas"></small>
						</h4>
					</div>
				</div>

			</div>
	</div>
</div>
